body{
    margin: 0px;
    padding: 0px;
    background-color: aquamarine;
}

.heading{
    height: 70px;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.text{
    font-size: 25px;
    font-weight: 700;
}

pre{
    font-size: 15px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: red;
}

h4{
    color: green;
}